#footer { 
    background: oklch(0.22 0.04 264.1);
    border-top: 1px solid oklch(.372 .044 257.287); 
    padding: 24px;
    margin-top: 40px;
    color: oklch(0.85 0.02 264); 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section h4 {
    margin-bottom: 12px;
    color: #fff;
}

.social-icons a {
    margin-right: 15px;
    font-size: 22px;
    color: oklch(0.8 0.02 264);
    transition: 0.2s;
}

.social-icons a:hover {
    color: white;
}

.dev-link {
    color: oklch(0.75 0.1 250);
    text-decoration: none;
    transition: 0.2s;
}

.dev-link:hover {
    text-decoration: underline;
}