:root {
    --cor-principal: oklch(0.21 0.04 264.1);
    --cor-borda-1: oklch(.372 .044 257.287);
    --cor-borda-2: oklch(.627 .265 303.9);
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-principal);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 0px 160px;
}

.border-botton {
    border-bottom: 1px solid oklch(.372 .044 257.287);
}

.flex {
    display: flex;
}

.logo {
    gap: 15px;
}

main section header h2 {
    margin-top: 40px;
}

.recentes header h2 {
    margin-top: 0px;
}

.inline {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: flex-center;
    gap: 24px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    position: relative;
    width: 100%;
    margin: 0px;
    border: 1px solid var(--cor-borda-1);
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media(max-width: 1200px) {
    #container {
        margin: 0px 100px;
    }

    .inline {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 900px) {
    #container {
        margin: 0px 80px;
    }

    .inline {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 600px) {
    #container {
        margin: 10px;
    }

    .inline {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    #logo-descricao {
        display: none;
    }

    .inline {
        grid-template-columns: 1fr;
    }
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid oklch(.627 .265 303.9);
    z-index: 1;
}

.card img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover; 
    display: block;
}

.destaque {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
}

.card-titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* máximo de 2 linhas */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
}

.thin {
    font-weight: 100 !important;
    font-size: 14px;
}

.detalhes > p {
    margin-left: 10px;
}

.ano {
    font-weight: 100 !important;
    margin: 4px 0px 12px 0px;
    font-size: 16px;
    color:oklch(.50 .044 257.287);
}

.link-perfil {
    text-decoration: none;
    color: white;
}

.link-perfil:hover {
    color: oklch(.50 .044 257.287);
}

.responsavel {
    margin-left: 8px;
    margin-bottom: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px; 
}

.responsavel > p {
    margin: 0;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 4px;
    margin-top: 8px;
}

.gap {
    display: flex;
    gap: 6px;
}

.btn-avaliar {
    padding: 2px 10px;
    background: white;
    color: oklch(.627 .265 303.9);
    border: 1px solid oklch(.627 .265 303.9);
    border-radius: 6px;
    display: block;
    transition: 
        background 0.3s ease,  /* transição suave do background */
        color 0.3s ease,        /* transição suave da cor do texto */
        transform 0.3s ease,    /* mantém o efeito de scale suave */
        box-shadow 0.3s ease;   /* mantém sombra suave */
}

.btn-avaliar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.664);
    cursor: pointer;
    background: oklch(.627 .265 303.9);
    color: white;
}

.badge-novo {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(145deg, #ff4b5c, #c92c2c); 
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 12px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
    z-index: 10;
}
