#adicionar-filme {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; 
}

#adicionar-filme button {
    background-color: var(--cor-roxo-3);
    color: var(--cor-branco-1);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    transition: background 0.3s;
    cursor: pointer;
}

#adicionar-filme button:hover {
    transform: translateY(-2px);
    background: var(--cor-roxo-4);
    box-shadow: 0 6px 8px oklch(var(--cor-preto-1-params) / 0.2);
}

#adicionar-filme button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px oklch(var(--cor-preto-1-params) / 0.15);
}

.modal.inativo {
    pointer-events: none;
    opacity: 0;
}

.modal.ativo {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-preto-1) / 0.6;
    display: flex;            
    justify-content: center;
    align-items: center; 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: var(--cor-preto-3);
    padding: 24px;
    border: 1px solid var(--cor-branco-1);
    border-radius: 10px;
    width: 50%;          
    max-width: 600px;   
    position: relative;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-content h3 {
    margin: 0px 0px 4px 0px;
} 

.dados {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo {
    margin-top: 16px;
    display: flex;
    width: 100%;
    gap: 10px;
}

.campo input {
    flex: 1;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--cor-cinza-3);
    background-color: var(--cor-preto-7);
    color: var(--cor-branco-1);
    font-size: 14px;
    box-sizing: border-box;
}

.campo input::placeholder {
    font-size: 16px;
}

.btn-pesquisar {
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-roxo-3);
    color: var(--cor-branco-1);
    transition: background 0.3s;
    cursor: pointer;
}

.btn-pesquisar:hover {
    transform: translateY(-2px);
    background: var(--cor-roxo-4);
    box-shadow: 0 6px 8px oklch(var(--cor-preto-1-params) / 0.2);
}

.btn-pesquisar:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px oklch(var(--cor-preto-1-params) / 0.15);
}

.dica {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 56px;
}

.dica i {
    font-size: 48px;
    color: var(--cor-cinza-2);
}

.dica span {
    font-size: 16px;
    color: var(--cor-branco-2);
}

#modal-novo-filme .modal-content li:hover,
#modal-novo-filme .modal-content li:focus,
#modal-novo-filme .modal-content li:active {
    transform: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.filmes-encontrados {
    max-height: 28rem; 
    overflow-y: auto;
    margin-top: 20px;        
    max-height: 300px;       
    overflow-y: auto;
}

.filmes-encontrados ul li {
    display: flex;
    gap: 16px;
    background: var(--cor-preto-7);
    padding: 12px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.filmes-encontrados ul li {
    transition: background 0.2s;
}

.filmes-encontrados ul li:hover {
    background: rgba(255,255,255,0.05);
}

.filmes-encontrados ul li:hover .titulos h3 {
    color: var(--cor-roxo-1); /* ou sua cor desejada */
}

.poster img {
    border-radius: 6px;
}


.info-filme {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-filme .topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-filme .titulos h3 {
    margin: 0;
    font-size: 16px;
}

.info-filme .titulos p {
    margin: 2px 0 0 0;
    font-size: 14px;
    color: var(--cor-branco-2);
}

.sinopse {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.3;
    color: var(--cor-branco-2);

    display: -webkit-box;
    -webkit-line-clamp: 3; /* máximo de 3 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#filtro {
    display: flex;
    flex-direction: column; 
    background: var(--cor-preto-3);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.filtros-superiores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; 
    margin-bottom: 10px; 
}

.filtro-usuario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filtro-usuario {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 120px;     /* largura mínima antes de quebrar */
}

.divisao {
    border-left: 1px solid var(--cor-branco-1);
    align-self: stretch; 
    margin: 0 10px;
}

#filtro select {
    background-color: var(--cor-preto-2); 
    color: var(--cor-branco);             
    border: 1px solid var(--cor-cinza-3); 
    border-radius: 5px;                   
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s;
}

#filtro select:focus {
    outline: none;
    border-color: var(--cor-roxo-2);
    box-shadow: 0 0 5px var(--cor-azul-2);
}

.filtro-usuario select {
    margin-right: 10px;
}

#filtro select option[disabled] {
    color: var(--cor-cinza-2);
}

#filtro select {
    min-width: 100px;
}

.filtro-busca {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.filtro-busca input {
    flex: 1; 
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid var(--cor-cinza-3);
    background-color: var(--cor-preto-2);
    color: var(--cor-branco);
    transition: border 0.2s, box-shadow 0.2s;
}

.filtro-busca input:focus {
    outline: none;
    border-color: var(--cor-roxo-2);
    box-shadow: 0 0 5px var(--cor-azul-2);
}

.filtro-busca input::placeholder {
    color: var(--cor-cinza-2);
}

 .filtro-ordenar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.ordenacao-direcao {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid var(--cor-cinza-3); 
    background-color: var(--cor-preto-2);
    transition: border 0.2s, box-shadow 0.2s;
    padding: 0 5px;
    cursor: pointer; 
}

.ordenacao-direcao.ativo {
    border-color: var(--cor-roxo-2);
    box-shadow: 0 0 5px var(--cor-azul-2);
}

#ordenar-direcao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;        
    height: 28px;      
    flex-shrink: 0;   
    background-color: transparent; 
    border: none;       
    border-radius: 6px; 
    cursor: pointer;
    padding: 0 6px;    
    transition: background 0.2s, transform 0.2s;
}

#ordenar-direcao:hover {
    background-color: var(--cor-cinza-2);
}

#ordenar-direcao svg {
    height: 14px; 
    stroke: var(--cor-branco-1);      
}

.texto-direcao {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cor-branco-2);
    user-select: none;
    cursor: pointer;
}

.paginacao {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.paginacao .btn-pagina {
    padding: 15px 15px;
    border-radius: 6px;
    border: 1px solid var(--cor-cinza-3);
    background-color: var(--cor-preto-2);
    color: var(--cor-branco);
    cursor: pointer;
    transition: background 0.2s;
}

.paginacao .btn-pagina:hover:not(:disabled) {
    background-color: var(--cor-roxo-3); 
    color: var(--cor-branco-1);          
}

.paginacao .btn-pagina:disabled {
    background-color: var(--cor-roxo-3);
    color: black;
    cursor: default;
}

@media (max-width: 600px) {
    .campo {
        display: flex;
        flex-direction: column;
    }

    .btn-pesquisar {
        padding: 10px 0px;
    }

    .lista {
        display: flex;
        flex-direction: column;
    }

    .btn-pesquisar {
        display: none; /* esconder botão */
    }
    
}