/* Body ocupa toda a tela e centraliza conteúdo */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

/* Container principal */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-preto-3);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    width: 100%;          /* ocupa quase toda a tela em dispositivos pequenos */
    max-width: 700px;    /* aumenta a largura máxima */
    box-sizing: border-box;
}

/* Header do login */
.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header h1 {
    margin: 16px 0 4px;
    font-size: 22px;
    color: var(--cor-branco-1);
}

.login-header p {
    margin: 0;
    color: var(--cor-branco-2);
}

/* Formulário */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    color: var(--cor-branco-1);
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--cor-cinza-3);
    background-color: var(--cor-preto-7);
    color: var(--cor-branco-1);
    font-size: 14px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.link-button {
    background: none;
    border: none;
    color: var(--cor-roxo-3);
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

/* Botão de login */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: var(--cor-roxo-3);
    color: var(--cor-branco-1);
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: var(--cor-roxo-4);
}

.auth-view {
    display: none;
}

.auth-view.active {
    display: block;
}

.info-text {
    margin: 0px 0px 8px 0px;
}

.acoes {
    display: flex;
    flex-direction: column;
}

#btn-back {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    transition: background 0.3s;
    text-decoration: none;
}

#btn-back:hover {
    background: var(--cor-branco-2);
    padding: 10px 0px;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .form-actions {
        flex-direction: column;
        align-items: flex-start; /* opcional, deixa alinhado à esquerda */
    }
    
    .form-actions button,
    .form-actions label {
        width: 100%; /* opcional, faz os elementos ocuparem toda a largura */
    }
}