<footer id="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Contato & Suporte</h4>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/brunoreolon/" target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/bruno_reolon/" target="_blank" title="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/brunoreolonn" target="_blank" title="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://steamcommunity.com/id/brunoreolon/" target="_blank" title="Steam">
                    <i class="fa-brands fa-steam"></i>
                </a>
            </div>
        </div>
        <div class="footer-section">
            <p>CineBaianos © 2025</p>
            <p>Desenvolvido por 
                <a href="https://www.linkedin.com/in/brunoreolon/" target="_blank" class="dev-link">
                    Bruno Reolon
                </a>
            </p>
        </div>
    </div>
</footer>