<header id="header" class="border-botton">
    <div class="flex logo">
        <a href="./index.html">
            <div>
                <i class="fa-solid fa-clapperboard fa-3x"></i>
            </div>
            <div id="logo-descricao">
                <h3>CineBaianos</h3>
                <p>Os piores filmes assistidos se encontram aqui</p>
            </div>
        </a>
    </div>
        <div class="profile-menu flex">
            <div id="avatar-container"></div>
            <div id="dropdown-container"></div>
        </div>
    </div>
</header>