.dados {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
}

.dados > p {
    margin-top: 24px;
    color: var(--cor-branco-2);
}

.campo input::placeholder {
    font-size: 16px;
}

.redefinicao-acoes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
}

.redefinicao-acoes button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none; 
    font-size: 14px;
    font-weight: 600;
    transition: background 0.3s;
    cursor: pointer;
}

.redefinicao-acoes button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px oklch(var(--cor-preto-1-params) / 0.2);
}

.redefinicao-acoes button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px oklch(var(--cor-preto-1-params) / 0.15);
}

.btn-redefinir-senha {
    color: var(--cor-branco-1);
    background: var(--cor-roxo-3);
}

.btn-redefinir-senha:hover {
    background: var(--cor-roxo-4);
}