.secao-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.secao-header i {
    color: oklch(.714 .203 305.504);
}



/* menus */
.sub-menus {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    border: 1px solid oklch(.372 .044 257.287);
    border-radius: 20px;
    width: auto;
    margin: 30px 0;
    padding: 6px 6px;
    transition: background 0.3s, color 0.3s;
}

.btn-menu {
    padding: 8px 12px;
    cursor: pointer; 
    padding: 8px 12px;
    border-radius: 20px;
    border: none; 
    background: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
}



/* tabs */
.tab-pane {
    display: none; 
}

.tab-pane.ativo {
    display: block;
}

.btn-menu.ativo {
    background-color: oklch(.558 .288 302.321);
    transition: opacity 0.3s, transform 0.3s;
}

.secao-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid oklch(.372 .044 257.287);
    border-radius: 10px;
}

.secao-topo h4,
.secao-topo p {
    margin: 0px;
}

.secao-topo p {
    color: oklch(.704 .04 256.788);
    font-weight: 100;
}


/* tab voto */
.btn-novo {
    padding: 0px 20px;
    border-radius: 10px;
    border: none; 
    background: oklch(.558 .288 302.321);
    color: white;
    font-weight: 600;
    font-size: 14px;
    transition: background 0.3s;
}

.btn-novo:hover {
    transform: translateY(-2px);
    background: oklch(.496 .265 301.924);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-novo:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.lista-votos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.voto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid oklch(.372 .044 257.287);
    border-radius: 20px;
    padding: 24px;
}

.voto h3, 
.voto p {
    margin: 0px;
}

.voto h3 {
    font-size: 16px;
    font-weight: 100;
}

.voto-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.detalhes-voto p {
    color: oklch(.704 .04 256.788);
    font-weight: 100;
    font-size: 14px;
    margin: 6px 0px 8px 0px;
}

.detalhes-voto span {
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}

.verde {
    background: #00FF00;
}

.vermelho {
    background: #FF0000;
}

.voto-acoes button {
    border-radius: 10px;
    padding: 10px;
}

.voto-acoes button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.voto-acoes button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
} 

.btn-editar {
    border: 1px solid #FFA500;
    color: #FFA500;
    transition: background 0.3s;
}

.btn-editar:hover {
    background: #FFA500;
    color: white;
}

.btn-excluir {
    border: 1px solid #D32F2F;
    color: #D32F2F;
    transition: background 0.3s;
}

.btn-excluir:hover {
    background: #D32F2F;
    color: white;
}


/* 
tab usuarios
tab bots 
*/
.tabela-container {
    overflow-x: auto;
    margin-top: 20px;
    border: 1px solid oklch(.372 .044 257.287);
    border-radius: 10px;
    padding: 24px;
}

.tabela-container table {
    width: 100%;
    border-collapse: collapse;
}

table thead th:last-child {
    text-align: center;
}

.tabela-container th, 
.tabela-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.acoes-usuario,
.acoes-bot {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-acoes i {
    font-size: 14px;
}

.btn-acoes {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none; 
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.btn-acoes:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-acoes:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn-permissoes {
    color: oklch(.714 .203 305.504);
    border: 1px solid oklch(.714 .203 305.504);
}

.btn-permissoes:hover {
    background: oklch(.496 .265 301.924); 
    color: white;
}


/* tab usuarios */
.usuarios-info, .bots-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuarios-info img, .bots-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.usuario-texto .nome-badge {
    display: flex;
    gap: 6px;
    align-items: center;
}

.usuario-texto .role {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: #ccc;
}

.badge {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.badge-voce {
    background: transparent;
    color: oklch(.714 .203 305.504); 
    border: 1px solid oklch(.714 .203 305.504);
}
.badge-admin {
    color: gold;
    border: 1px solid gold;
    background: transparent;
}

.badge-ativo, .badge-inativo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.badge-ativo {
    background-color: #00FF00;
    color: #000;
}

.badge-inativo {
    background-color: #FF0000;
    color: #fff;
}

.estatisticas div {
    display: block;
}

/* tab bots */